html,
body {
  padding: 0;
  margin: 0;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00c3ff;
}
#text-input {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  font-family: sans-serif;
}
.links a {
  text-decoration: none;
  color: black;
  margin-left: 1em;
}
.links a:hover {
  text-decoration: underline;
}
.links a img.icon {
  display: inline-block;
  height: 1em;
  margin: 0 0 -0.1em 0.3em;
}
