/* Toggle Button */
/* The switch - the box around the slider */
.switch {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 105px;
  right: 3vw;
  top: 2vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch h1 {
  position: absolute;
  font-family: 'Rubik', monospace;
  font-weight: 600;
  text-align: center;
  color: #666666;
  font-size: 32px;
  right: 28px;
  border-radius: 12px;
}

.ar-switch-text {
  bottom: 36px;
}

.object-switch-text {
  bottom: -13px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BEBEBEcc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 90px;
  left: 5px;
  top: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BEBEBEcc;
}

input:not(:checked) + .slider {
  box-shadow: 0 0 10px #424242;
}

input:checked + .slider:before {
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 10px;
}

/* Color Carousel */
#container {
  position: absolute;
  width: 100vw;
  max-height: 20vw;
  left: 50%;
  bottom: 2vh;
  transform: translateX(-50%);
  z-index: 10;  
  text-align: center;
  pointer-events:none;
  overflow-x: scroll;
  white-space: nowrap;
}

#container::-webkit-scrollbar {
  display: none;
}

.carousel {
  padding: 1.5rem;
  border: 0.3rem solid white;
  margin: 0.5rem;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  pointer-events:auto;
}

.selected {
  box-shadow: 0px 0px 0px 0.3rem white;
  outline: none !important;
}

#cta {
  z-index: 2;
  position: absolute;
  right: 1vh;
  top: 1vh;
  font-family: Nunito,sans-serif;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: .8em 1.6em;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg,#7611b7,#c86dd7);
}

/* Fade In & Out */
#blackFade {
  pointer-events: none;
  background-color: black;
  z-index: 20;
  opacity: 0;
}
.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* animations */
.fade-out { animation: fade-out 0.5s linear forwards; }
@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Disable Button */
.disable-button {
  pointer-events: none
}