body {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

.modal-content {
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  position: absolute; 
  z-index: 1; 
  left: 50%;
  top: 0;
  bottom:0;
  width: 90%;
  height: 15%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius:0.7vh;
  margin: auto;
  margin-bottom: 2vh;
  max-width: 600px;
  min-height: 100px;
  transform: translate(-50%);
}

.modal-header {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#reset{
  font-weight: 500;
  font-size: 1.9vh;
  cursor: pointer;
  margin:auto;
  color:#FFFFFF;
  margin-top:1vh;
  margin-left:2vh;
}

.modal-body{
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-body h3 {
  text-align: center;
  margin-bottom: 0;
}

#target-name{
  margin-top: 0;
  font-size: 2vh;
  grid-row: 1;
  grid-column: 2;
  color:#FFFFFF;
}


.slider-container {
  grid-row: 2;
  grid-column: 2;
  align-items: center;
}

#leftArrow{
  grid-row: 1 / 3;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  height:3vh;
  margin-bottom: 3vh;
}

#rightArrow{
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
  grid-column: 3;
  height:3vh;
  margin-bottom: 3vh;
}
.slider {
  width: 100%;
}

input[type="range"] {
-webkit-appearance:none !important;
height: 12px;
background: rgba(0, 0, 0, 0.3);;
border: 2px solid white;
border-radius: 8px;
outline: none;
}
input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none !important;
width: 30px;
height:30px;
background: white;
border: 2px solid white;
border-radius: 50%;
cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
background: white;
}
