#orientationOverlay {
  z-index: 998;
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  display: none;
  align-items: center;
  justify-content: center;
}
#message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  left: 50%;
  color: white;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}
#message img {
  margin-bottom: 20px;
}
