.hidden {
  display: none !important;
}

#recenterButtonContainer {
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  right: 2vmax;
  top: 2vmax;
  pointer-events: auto;
  z-index: 20;
}

#recenterButtonContainer img {
  pointer-events: none;
  max-height: 10vmin;
  filter: drop-shadow(1px 1px 7px #00000026)
}

#container {
  position: absolute;
  max-height: 50vh;
  left: 10%;
  right: 10%;
  bottom: -2vh;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  transition: 0.35s;
}

#container.collapsed {
  transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
}

#contents {
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 1rem;
  flex-grow: 1;
}

#contents h1 {
  text-align: left;
}

.outer {
  flex: 0 0 auto;
}

#closeButton {
  float: right;
  padding: 0.25em;
}