#debugOptions {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  grid-template-columns: 26fr 3fr 1fr;
  grid-template-rows: 5fr 1fr 1fr 1fr 5fr;
  z-index: 10;
  align-items: center;
}

#swapTextureGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row: 2;
  grid-column: 2;
  row-gap: 0.5vh;
}

#swapTextureGrid > div {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-image: url('./assets/UI/swapTexture.png');
}

#swapTextureGrid > p {
  grid-row: 2;
  grid-column: 1;
  font-family: 'Nunito', sans-serif;
  font-size: 2vh;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#invertMaskGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row: 3;
  grid-column: 2;
  row-gap: 0.5vh;
}

#invertMaskGrid > div {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-image: url('./assets/UI/invertMask.png');
}

#invertMaskGrid > p {
  grid-row: 2;
  grid-column: 1;
  font-family: 'Nunito', sans-serif;
  font-size: 2vh;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#bottomBar {
    display: none;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    grid-template-columns: .5fr 1fr .25fr 1fr .5fr;
    grid-template-rows: 1fr .2fr;
    z-index: 15;
    column-gap: 1vh;
}

#leftButton {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./assets/UI/leftArrow.png');
}

#rightButton {
    grid-row: 1;
    grid-column: 4;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./assets/UI/rightArrow.png');
}

#recenterGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-row: 4;
  grid-column: 2;
  row-gap: .5vh;
}

#recenterGrid > div {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-image: url('./assets/UI/recenter.png');
}

#recenterGrid > p {
  grid-row: 2;
  grid-column: 1;
  font-family: 'Nunito', sans-serif;
  font-size: 2vh;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}