#nextButton {
  position: absolute;
  z-index: 50;
  opacity: 1;
  pointer-events: all;
  bottom: 6.25vh;
  width: 11vh;
  height: 3vh;
  margin: auto;
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  align-items: center;
  font-family: 'Nunito', monospace;
  justify-content: center;
  color: white;
  border-radius: 2.5vh;
  transition: opacity 0.5s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translate(-50%);
  left: 50%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;

  /* background blur */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#nextButton:active {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}